
@model AirNice.Models.DTO.UserDTO.LoginDTO
@{
    ViewData["Title"] = "Email Validation";
    Layout = "_MainLayout";
    var temp = "xyz";
}
<div class="no-bottom no-top" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" data-bgimage="url(../BLUETEC_HTML/images/background/2.png) bottom">
        <div class="center-y relative text-center" data-scroll-speed="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
                            <div class="col-md-12 text-center">
                                <h1>Just one Step ahead</h1>
                                <p>Awsome Page Teaser Here</p>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="no-top" data-bgimage="url(../BLUETEC_HTML/images/background/4.png) top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h3>Confirm your OPT Code.</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                    <div class="spacer-10"></div>
                    <form name="contactForm" id='contact_form' class="form-border" asp-controller="User" asp-action="EmailValidation">

                        <div class="row">
                            <div class="col-md-3"></div>

                            <div class="col-md-6">
                                <div class="field-set">
                                    <label>OTP:</label>
                                    <input asp-for="Email" type='password' class="form-control" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <input asp-for="Password"  hidden="hidden" value="@temp">
                            </div>

                            <div class="col-md-3"></div>

                            <div class="col-md-12">

                                <div id='submit' class="text-center">
                                    <input type='submit' id='send_message' value='Validate' class="btn btn-custom color-2">
                                </div>



                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </section>

</div>



