@model AirNice.Models.DTO.UserDTO.RegisterDTO

@{
	ViewData["Title"] = "Home Page";
	Layout = "_MainLayout";
}

<div class="no-bottom no-top" id="content">
	<div id="top"></div>

	<!-- section begin -->
	<section id="subheader" data-bgimage="url(../BLUETEC_HTML/images/background/5.png) bottom">
		<div class="center-y relative text-center" data-scroll-speed="4">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<form action='blank.php' class="row" id='form_subscribe' method="post" name="myForm">
							<div class="col-md-12 text-center">
								<h1>Register</h1>
								<p>Awsome Page Teaser Here</p>
							</div>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- section close -->

	<section class="no-top" data-bgimage="url(../BLUETEC_HTML/images/background/3.png) top">
		<div class="container">
			<div class="row">
				

			<div class="container">
		<div class="row">

			<div class="col-lg-3 col-sm-6">

				<div class="card hovercard">
					<div class="cardheader">

					</div>
					<div class="avatar">
						<img alt="" src="http://lorempixel.com/100/100/people/9/">
					</div>
					<div class="info">
						<div class="title">
							<a target="_blank" href="https://scripteden.com/">Script Eden</a>
						</div>
						<div class="desc">Passionate designer</div>
						<div class="desc">Curious developer</div>
						<div class="desc">Tech geek</div>
					</div>
					<div class="bottom">
						<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="btn btn-danger btn-sm" rel="publisher"
						   href="https://plus.google.com/+ahmshahnuralam">
							<i class="fa fa-google-plus"></i>
						</a>
						<a class="btn btn-primary btn-sm" rel="publisher"
						   href="https://plus.google.com/shahnuralam">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
							<i class="fa fa-behance"></i>
						</a>
					</div>
				</div>

			</div>
			<div class="col-lg-3 col-sm-6">

				<div class="card hovercard">
					<div class="cardheader">

					</div>
					<div class="avatar">
						<img alt="" src="http://lorempixel.com/100/100/people/9/">
					</div>
					<div class="info">
						<div class="title">
							<a target="_blank" href="https://scripteden.com/">Script Eden</a>
						</div>
						<div class="desc">Passionate designer</div>
						<div class="desc">Curious developer</div>
						<div class="desc">Tech geek</div>
					</div>
					<div class="bottom">
						<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="btn btn-danger btn-sm" rel="publisher"
						   href="https://plus.google.com/+ahmshahnuralam">
							<i class="fa fa-google-plus"></i>
						</a>
						<a class="btn btn-primary btn-sm" rel="publisher"
						   href="https://plus.google.com/shahnuralam">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
							<i class="fa fa-behance"></i>
						</a>
					</div>
				</div>

			</div>
			<div class="col-lg-3 col-sm-6">

				<div class="card hovercard">
					<div class="cardheader">

					</div>
					<div class="avatar">
						<img alt="" src="http://lorempixel.com/100/100/people/9/">
					</div>
					<div class="info">
						<div class="title">
							<a target="_blank" href="https://scripteden.com/">Script Eden</a>
						</div>
						<div class="desc">Passionate designer</div>
						<div class="desc">Curious developer</div>
						<div class="desc">Tech geek</div>
					</div>
					<div class="bottom">
						<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="btn btn-danger btn-sm" rel="publisher"
						   href="https://plus.google.com/+ahmshahnuralam">
							<i class="fa fa-google-plus"></i>
						</a>
						<a class="btn btn-primary btn-sm" rel="publisher"
						   href="https://plus.google.com/shahnuralam">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
							<i class="fa fa-behance"></i>
						</a>
					</div>
				</div>

			</div>
			<div class="col-lg-3 col-sm-6">

				<div class="card hovercard">
					<div class="cardheader">

					</div>
					<div class="avatar">
						<img alt="" src="http://lorempixel.com/100/100/people/9/">
					</div>
					<div class="info">
						<div class="title">
							<a target="_blank" href="https://scripteden.com/">Script Eden</a>
						</div>
						<div class="desc">Passionate designer</div>
						<div class="desc">Curious developer</div>
						<div class="desc">Tech geek</div>
					</div>
					<div class="bottom">
						<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="btn btn-danger btn-sm" rel="publisher"
						   href="https://plus.google.com/+ahmshahnuralam">
							<i class="fa fa-google-plus"></i>
						</a>
						<a class="btn btn-primary btn-sm" rel="publisher"
						   href="https://plus.google.com/shahnuralam">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
							<i class="fa fa-behance"></i>
						</a>
					</div>
				</div>

			</div>
			<div class="col-lg-3 col-sm-6">

				<div class="card hovercard">
					<div class="cardheader">

					</div>
					<div class="avatar">
						<img alt="" src="http://lorempixel.com/100/100/people/9/">
					</div>
					<div class="info">
						<div class="title">
							<a target="_blank" href="https://scripteden.com/">Script Eden</a>
						</div>
						<div class="desc">Passionate designer</div>
						<div class="desc">Curious developer</div>
						<div class="desc">Tech geek</div>
					</div>
					<div class="bottom">
						<a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
							<i class="fa fa-twitter"></i>
						</a>
						<a class="btn btn-danger btn-sm" rel="publisher"
						   href="https://plus.google.com/+ahmshahnuralam">
							<i class="fa fa-google-plus"></i>
						</a>
						<a class="btn btn-primary btn-sm" rel="publisher"
						   href="https://plus.google.com/shahnuralam">
							<i class="fa fa-facebook"></i>
						</a>
						<a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
							<i class="fa fa-behance"></i>
						</a>
					</div>
				</div>

			</div>

		</div>
	</div>
			</div>
		</div>
	</section>

	<section class="pt60 pb60 bg-color-2 text-light">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-8 mb-sm-30 text-lg-left text-sm-center">
					<h3 class="no-bottom">Awesomeness begin here. Are you ready?</h3>
				</div>

				<div class="col-md-4 text-lg-right text-sm-center">
					<a href="#" class="btn-custom capsule med">Let's do it!</a>
				</div>
			</div>
		</div>
	</section>

</div>
@section LoginScripts {
	<partial name="_LoginPartial" />
}

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}








<link href="~/BLUETEC_HTML/css/Card.css" rel="stylesheet" />

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="" style="padding-top:0px">


	

</section>

