<div class="modal fade text-dark" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="" hidden="">
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="">
				<div class="pricing-s1 mb30">
					<div class="top">
						<h2></h2>

						<p class="plan-tagline">Air Peace</p>
					</div>
					<div class="mid text-light bg-color-3">
						<p class="price">
							<span class="currency">$</span>
							<span class="m opt-1">24.99</span>
							<span class="y opt-2">16.49</span>
							@*<span class="month">p/mo</span>*@
						</p>
					</div>
					<div class="bottom">
						<ul>
							<li><i class="fa fa-check"></i>Destination: London</li>
							<li><i class="fa fa-check"></i>Departure Time: 1:30 PM UTC</li>
							<li><i class="fa fa-check"></i>Departure Date: 12/05/2021</li>
							<li><i class="fa fa-check"></i>Departure Terminal: Lagos</li>
							<li><i class="fa fa-check"></i>Available Seat: 13</li>
							<li><i class="fa fa-check"></i>Category : International</li>
						</ul>
					</div>
					<div class="row">
						<div class="action col-md-6" data-dismiss="modal">
							<a href="" class="btn-custom">Close</a>
						</div>
						<div class="action col-md-6">
							<a asp-action="FlightBooking" asp-controller="Booking" class="btn-custom">Book Flight</a>
						</div>
					</div>

				</div>
			</div>

		</div>
	</div>
</div>