<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Airnice Travel Agency</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Bluetec Saas Software Startup Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
    <!-- CSS Files
    ================================================== -->
    <link href="~/BLUETEC_HTML/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/bootstrap-grid.min.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/bootstrap-reboot.min.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/jquery.countdown.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/style.css" rel="stylesheet" type="text/css">

    <!-- color scheme -->
    <link id="colors" href="~/BLUETEC_HTML/css/colors/scheme-03.css" rel="stylesheet" type="text/css">
    <link href="~/BLUETEC_HTML/css/coloring.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div id="wrapper">

        <div id="topbar" class="text-white bg-color">
            <div class="container">
                <div class="topbar-left">
                    <span class="topbar-widget tb-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </span>
                </div>

                <div class="topbar-right  sm-hide">
                    <span class="topbar-widget tb-phone">+208 333 9296</span>
                    <span class="topbar-widget tb-email">contact@example.com</span>
                    <span class="topbar-widget tb-opening-hours">Monday - Friday: 8:00 - 23:00</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- header begin -->
        <header class="transparent scroll-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <div class="align-self-center header-col-left">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="index.html">
                                        <img alt="" class="logo" src="~/BLUETEC_HTML/images/logo-3-light.png" />
                                        <img alt="" class="logo-2" src="~/BLUETEC_HTML/images/logo-3.png" />
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                            <div class="align-self-center ml-auto header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu">
                                    <li>
                                        <a href="index.html">Home</a>

                                    </li>
                                    <li>
                                        <a href="#">Company</a>
                                        <ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="our-team.html">Our Team</a></li>
                                            <li><a href="our-history.html">Our History</a></li>
                                            <li><a href="faq.html">FAQs</a></li>
                                            <li><a href="careers.html">Careers</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Services</a>
                                        <ul>
                                            <li><a href="service-single.html">Service Single</a></li>
                                            <li><a href="services-image.html">Services Images</a></li>
                                            <li><a href="services-icon.html">Services Icon</a></li>
                                            <li><a href="services-icon-boxed.html">Services Icon Boxed</a></li>
                                            <li><a href="services-carousel.html">Services Carousel</a></li>
                                            <li><a href="pricing-plans.html">Pricing Plans</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>

                                    </li>
                                    <li>
                                        <a href="#">Elements</a>
                                        <ul>
                                            <li><a href="icons-font-awesome.html">Font Awesome Icons</a></li>
                                            <li><a href="icons-elegant.html">Elegant Icons</a></li>
                                            <li><a href="icons-etline.html">Etline Icons</a></li>
                                            <li><a href="alerts.html">Alerts</a></li>
                                            <li><a href="accordion.html">Accordion</a></li>
                                            <li><a href="modal.html">Modal</a></li>
                                            <li><a href="progress-bar.html">Progress Bar</a></li>
                                            <li><a href="tabs.html">Tabs</a></li>
                                            <li><a href="tabs.html">Timeline</a></li>
                                            <li><a href="counters.html">Counters</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="align-self-center ml-auto header-col-right">
                                <a class="btn-custom"  asp-controller="User" asp-action="Login"><i class="fa fa-arrow-down"></i> Login</a>
                                <span id="menu-btn"></span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->
        <!-- content begin -->
        @RenderBody()
        <!-- content close -->
        <!-- footer begin -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <a href="index.html"><img alt="" class="logo" src="~/BLUETEC_HTML/images/logo-3-light.png"></a>
                            <div class="spacer-20"></div>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem.</p>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="widget">
                            <h5>Demo</h5>
                            <ul>
                                <li><a href="index.html">Saas</a></li>
                                <li><a href="index-startup.html">Startup</a></li>
                                <li><a href="index-coworking.html">Co-working</a></li>
                                <li><a href="index-agency.html">Agency</a></li>
                                <li><a href="index-apps.html">Apps</a></li>
                                <li><a href="service-single.html">Email Marketing</a></li>
                                <li><a href="pricing-plans.html">Pricing Plan</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="widget">
                            <h5>Pages</h5>
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="our-team.html">Our Team</a></li>
                                <li><a href="our-history.html">Our History</a></li>
                                <li><a href="faq.html">FAQs</a></li>
                                <li><a href="news.html">News</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="login-2.html">Login</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="widget">
                            <h5>Newsletter</h5>

                            <p>Signup for our newsletter to get the latest news, updates and special offers in your inbox.</p>
                            <form action="blank.php" class="row" id="form_subscribe" method="post" name="form_subscribe">
                                <div class="col text-center">
                                    <input class="form-control" id="name_1" name="name_1" placeholder="enter your email" type="text" /> <a href="#" id="btn-submit"><i class="arrow_right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                            <div class="spacer-10"></div>
                            <small>Your email is safe with us. We don't spam.</small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 sm-text-center mb-sm-30">
                        <div class="mt10">&copy; Copyright 2020 - Bluetec by Designesia</div>
                    </div>

                    <div class="col-md-6 text-md-right text-sm-left">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                            <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                            <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                            <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer close -->

        <div id="preloader">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <!-- Javascript Files
    ================================================== -->
        <script src="~/BLUETEC_HTML/js/jquery.min.js"></script>
        <script src="~/BLUETEC_HTML/js/bootstrap.min.js"></script>
        <script src="~/BLUETEC_HTML/js/wow.min.js"></script>
        <script src="~/BLUETEC_HTML/js/jquery.isotope.min.js"></script>
        <script src="~/BLUETEC_HTML/js/easing.js"></script>
        <script src="~/BLUETEC_HTML/js/owl.carousel.js"></script>
        @*<script src="~/BLUETEC_HTML/js/validation.js"></script>*@
        <script src="~/BLUETEC_HTML/js/jquery.magnific-popup.min.js"></script>
        <script src="~/BLUETEC_HTML/js/enquire.min.js"></script>
        <script src="~/BLUETEC_HTML/js/jquery.stellar.min.js"></script>
        <script src="~/BLUETEC_HTML/js/jquery.plugin.js"></script>
        <script src="~/BLUETEC_HTML/js/typed.js"></script>
        <script src="~/BLUETEC_HTML/js/jquery.countTo.js"></script>
        <script src="~/BLUETEC_HTML/js/jquery.countdown.js"></script>
        <script src="~/BLUETEC_HTML/js/designesia.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>


        @RenderSection("Scripts", required: false)

    </div>






</body>
</html>